<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">


    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 300px">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="rule-header-image"></div>
                    <mat-card-title>Devices and ML Models</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-container mat-elevation-z8">
                        <table mat-table [dataSource]="modelConfigsDataSource" matSort>

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.uid}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.name}} </td>
                            </ng-container>

                            <!-- Description Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.description}} </td>
                            </ng-container>

                            <!-- Created -->
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.created | date: dateFormat}}
                                </td>
                            </ng-container>

                            <!-- Updated -->
                            <ng-container matColumnDef="modified">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                                <td mat-cell *matCellDef="let rule">
                                    {{rule.modified | date: dateFormat}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="modelConfigDisplayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: modelConfigDisplayedColumns;"
                                (click)="onModelConfigClicked(row)" [ngClass]="{'selected': modelConfigSelection.isSelected(row) }">
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxLayoutAlign="" fxLayoutGap="15px" style="min-height: 300px">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="rule-header-image"></div>
                    <mat-card-title>Device and ML Model Selection</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <form [formGroup]="modelForm" class="rule-form" fxLayout="row wrap" fxLayoutGap="15px">

                        <p class="mat-h3">General</p>
                        <mat-divider [inset]="true"></mat-divider>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Configuration Name</mat-label>
                                <input matInput [readonly]=false formControlName="name">
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Description</mat-label>
                                <input matInput [readonly]=false formControlName="description">
                            </mat-form-field>
                        </div>

                        <p class="mat-h3">Configuration</p>
                        <mat-divider [inset]="true"></mat-divider>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Device</mat-label>
                                <mat-select (selectionChange)="onDeviceSelected($event)"
                                    formControlName="device">
                                    <mat-option *ngFor="let item of devicesDataSource.data; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="resource">
                                    <mat-option *ngFor="let item of conditionResourcesDataSource.data"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select an ML Model</mat-label>
                                <mat-select formControlName="model">
                                    <mat-option *ngFor="let item of mlmodels"
                                        [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="modelForm.pristine || modelForm.invalid" (click)="addModelConfig()"
                        color="primary">Add Model Config</button>
                    <button mat-raised-button
                        [disabled]="modelForm.pristine || modelForm.invalid || modelConfigSelection.isEmpty()"
                        (click)="updateModelConfig()" color="primary">Update Model Config</button>
                    <button mat-raised-button [disabled]="modelForm.dirty || modelForm.invalid || modelConfigSelection.isEmpty()"
                        (click)="deleteModelConfig()" color="primary">Delete
                        Model Config</button>
                    <button mat-raised-button [disabled]="modelForm.dirty || modelForm.invalid || modelConfigSelection.isEmpty()"
                        (click)="deployModelConfig()" color="primary">Deploy Model Config</button>
                    <button mat-raised-button [disabled]="modelForm.dirty || modelForm.invalid || modelConfigSelection.isEmpty()"
                        (click)="undeployModelConfig()" color="primary">Undeploy Model Config</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>