<style>

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

</style>



<!-- make case screen full height-->
<div fxFill fxLayout="column" style="overflow: hidden;height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">
  <!-- Toolbar -->
  <div class="toolbar" role="banner" >
    <img
      height= "55px"
      alt="Tibco Logo"
      src="../../../assets/tibco.jpg"
    />
    <h2>Project Air</h2>
  </div>
   <!-- this is now full height '-' size of header -->
  <div fxFlex class="tcs-starter-app-router-pane" fxLayout="row" fxLayoutAlign="start, stretch">
    <router-outlet></router-outlet>
  </div>
</div>