<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">

        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" 
            style="min-height: 300px; width: 100%">

            <mat-tab-group style="width: 100%">
                <mat-tab label="Protocols">
                    <app-ige-protocols [gatewayId]="gatewayId"></app-ige-protocols>
                </mat-tab>
                <mat-tab label="Data Stores">
                    <app-ige-data-stores [gatewayId]="gatewayId"></app-ige-data-stores>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>