<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">

        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch"
            style="min-height: 300px; width: 100%">

            <mat-tab-group style="width: 100%">
                <mat-tab label="Filtering">

                    <app-filtering [devices]="deviceList" [gateway]="gateway"></app-filtering>

                </mat-tab>
                <mat-tab label="Streaming">

                    
                </mat-tab>
                <mat-tab label="Inferencing">

                    <app-inferencing [devices]="deviceList" [gateway]="gateway"></app-inferencing>

                </mat-tab>
                <mat-tab label="Rules">

                    <app-rules [devices]="deviceList" [gateway]="gateway"></app-rules>

                </mat-tab>
            </mat-tab-group>
        </div>

        <div fxLayout="row" fxLayoutGap="15px" style="width: 100%">

            <!-- <button mat-raised-button [disabled]="deployDisabled" (click)="deploySelectedDataPipeline()" color="primary">Deploy Pipeline</button>
            <button mat-raised-button [disabled]="undeployDisabled" (click)="undeploySelectedDataPipeline()" color="primary">Undeploy Pipeline</button>
            <button mat-raised-button [disabled]="deployDisabled" (click)="deleteSelectedDataPipeline()" color="primary">Delete Pipeline</button> -->

        </div>
    </div>

</div>