<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Inbound Protocols">
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 300px;">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="device-header-image"></div>
                    <mat-card-title>Inbound Protocols</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-container mat-elevation-z8">
                        <table mat-table [dataSource]="protocolsDataSource" matSort>

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id </th>
                                <td mat-cell *matCellDef="let protocol"> {{protocol.uid}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let protocol"> {{protocol.uuid}} </td>
                            </ng-container>

                            <!-- Protocol Column -->
                            <ng-container matColumnDef="protocol">
                                <th mat-header-cell *matHeaderCellDef> Protocol </th>
                                <td mat-cell *matCellDef="let protocol"> {{protocol.protocolType}} </td>
                            </ng-container>

                            <!-- Created -->
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let protocol"> {{protocol.created | date: dateFormat}} </td>
                            </ng-container>

                            <!-- Updated -->
                            <ng-container matColumnDef="modified">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                                <td mat-cell *matCellDef="let protocol"> {{protocol.modified | date: dateFormat}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="protocolDisplayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: protocolDisplayedColumns;"
                                (click)="onProtocolClicked(row)"
                                [ngClass]="{'selected': protocolSelection.isSelected(row) }">
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="min-height: 300px">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="device-header-image"></div>
                    <mat-card-title>Protocol Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="protocolForm" class="protocol-form" fxLayout="row wrap" fxLayoutGap="15px">

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
                            <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                <mat-label>Protocol</mat-label>
                                <mat-select formControlName="protocolType" (selectionChange)="onProtocolTypeSelected($event)">
                                    <mat-option *ngFor="let item of protocols" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex="100%" *ngIf="mqttProtocol" formGroupName="mqtt"
                            style="height: 100%;">

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">
                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput [readonly]=false formControlName="uuid" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Hostname</mat-label>
                                    <input matInput [readonly]=false formControlName="hostname" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Port</mat-label>
                                    <input matInput [readonly]=false formControlName="port" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Topic</mat-label>
                                    <input matInput [readonly]=false formControlName="topic" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Maximum QOS</mat-label>
                                    <input matInput [readonly]=false formControlName="maximumQOS" required>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Encryption Mode</mat-label>
                                    <mat-select formControlName="encryptionMode"
                                        (selectionChange)="onMQTTEncryptionModeSelected($event)">
                                        <mat-option *ngFor="let item of mqttEncriptionModes" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput [readonly]=false formControlName="username" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Enter your password" [readonly]=false
                                        [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Client Certificate</mat-label>
                                    <input matInput [readonly]=false formControlName="clientCertificate">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Client Key</mat-label>
                                    <input matInput [readonly]=false formControlName="clientKey">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>CA Certificate</mat-label>
                                    <input matInput [readonly]=false formControlName="caCertificate">
                                </mat-form-field>

                            </div>

                        </div>

                        <div fxLayout="column" fxFlex="100%" *ngIf="kafkaProtocol" formGroupName="kafka"
                            style="height: 100%;">

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">
                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput [readonly]=false formControlName="uuid" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Hostname</mat-label>
                                    <input matInput [readonly]=false formControlName="hostname" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Port</mat-label>
                                    <input matInput [readonly]=false formControlName="port" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Topic</mat-label>
                                    <input matInput [readonly]=false formControlName="topic" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Consumer Group Id</mat-label>
                                    <input matInput [readonly]=false formControlName="consumerGroupId" required>
                                </mat-form-field>

                                

                            </div>

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">
                            
                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Connection Timeout</mat-label>
                                    <input matInput [readonly]=false formControlName="connectionTimeout">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Session Timeout</mat-label>
                                    <input matInput [readonly]=false formControlName="sessionTimeout">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Initial Offset</mat-label>
                                    <mat-select formControlName="initialOffset">
                                        <mat-option *ngFor="let item of kafkaInitialOffsets" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Retry Backoff</mat-label>
                                    <input matInput [readonly]=false formControlName="retryBackoff">
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Fetch Min Bytes</mat-label>
                                    <input matInput [readonly]=false formControlName="fetchMinBytes">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Fetch Max Wait</mat-label>
                                    <input matInput [readonly]=false formControlName="fetchMaxWait">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Commit Interval</mat-label>
                                    <input matInput [readonly]=false formControlName="commitInterval">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Heartbeat Interval</mat-label>
                                    <input matInput [readonly]=false formControlName="heartbeatInterval">
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="width: 100%;">

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Authentication Mode</mat-label>
                                    <mat-select formControlName="authMode"
                                        (selectionChange)="onKafkaAuthModeSelected($event)">
                                        <mat-option *ngFor="let item of kafkaAuthModes" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput [readonly]=false formControlName="username" required>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Enter your password" [readonly]=false
                                        [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Client Certificate</mat-label>
                                    <input matInput [readonly]=false formControlName="clientCertificate">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Client Key</mat-label>
                                    <input matInput [readonly]=false formControlName="clientKey">
                                </mat-form-field>

                                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                                    <mat-label>Server Certificate</mat-label>
                                    <input matInput [readonly]=false formControlName="serverCertificate">
                                </mat-form-field>

                            </div>

                        </div>

                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="graphAddOpDisabled" (click)="addProtocol()"
                        color="primary">Add
                        Protocol</button>
                    <button mat-raised-button [disabled]="graphUpdateOpDisabled" (click)="updateProtocol()"
                        color="primary">Update Protocol</button>
                    <button mat-raised-button [disabled]="graphDeleteOpDisabled" (click)="deleteProtocol()"
                        color="primary">Remove Protocol</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>