<mat-card fxFlex style="height: 100%; box-shadow:none;" [formGroup]="ruleExpressionForm">

    <mat-card-header>
        <mat-card-title>Rule Expression Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%;">

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Log Level</mat-label>
                    <mat-select formControlName="logLevel">
                        <mat-option *ngFor="let item of logLevels;" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">
                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Rule Name</mat-label>
                    <input matInput [readonly]=false formControlName="name">
                </mat-form-field>
                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Rule Description</mat-label>
                    <input matInput [readonly]=false formControlName="description">
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">
                <mat-tab-group style="width: 100%">
                    <mat-tab label="Expression">

                        <div fxLayout="row" style="width: 100%;padding-top: 10px" fxLayoutGap="15px">
                            <mat-form-field fxFlex="1 1 35%" appearance="outline">
                                <mat-label>Select a Device</mat-label>
                                <mat-select formControlName="device">
                                    <mat-option *ngFor="let item of devices; let i = index" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 35%" appearance="outline">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="resource">
                                    <mat-option *ngFor="let item of resources" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">


                            <mat-form-field fxFlex="1 1 35%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="compareOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 35%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="compareToValue">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-form-field fxFlex="1 1 35%" appearance="outline">
                                <mat-label>Notification Level</mat-label>
                                <mat-select formControlName="notificationLevel">
                                    <mat-option *ngFor="let item of logLevels;" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 35%" appearance="standard">
                                <mat-label>Notification</mat-label>
                                <input matInput [readonly]=false formControlName="notification">
                            </mat-form-field>
                        </div>

                    </mat-tab>

                </mat-tab-group>

            </div>
        </div>

    </mat-card-content>
</mat-card>