<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
  style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Device Groups">
    </mat-form-field>
  </div>
  <mat-card-actions>
    <!-- <button mat-raised-button (click)="addGateway()" color="primary">Add Gateway</button -->
    <span *ngIf="!gatewayOpDisabled">
      <button mat-raised-button [disabled]="gatewayOpDisabled" (click)="updateGateway()" color="primary">Update
        Gateway</button>
      <button mat-raised-button [disabled]="gatewayOpDisabled" (click)="deleteGateway()" color="primary">Remove
        Gateway</button>
      <button mat-raised-button [disabled]="gatewayOpDisabled" (click)="pingGateway()" color="primary">Ping
        Gateway</button>
      <!-- <button mat-raised-button [disabled]="gatewayOpDisabled"
        [routerLink]="['/starterApp/home/gatewaysubscription', selectedGateway]"
        color="primary">Subscriptions</button> -->
      <button mat-raised-button [disabled]="gatewayOpDisabled"
        [routerLink]="['/starterApp/home/gatewayendpoint', selectedGateway]" color="primary">Endpoints
        Configuration</button>
      <!-- <button mat-raised-button [disabled]="publisherDisabled"
        [routerLink]="['/starterApp/home/gatewaypublisher', selectedGateway]" color="primary">Data Publishers</button> -->
      <button mat-raised-button [disabled]="cloudDataPipelineDisable"
        [routerLink]="['/starterApp/home/datapipeline', selectedGateway]" color="primary">Cloud Data
        Pipelines</button>
      <button mat-raised-button [disabled]="edgeDataPipelineDisable"
        [routerLink]="['/starterApp/home/edgedatapipeline', selectedGateway]" color="primary">Edge Data
        Pipelines</button>
    </span>
  </mat-card-actions>
  <div>
  <div class='card-container'>
    <div class='card' *ngFor='let gateway of dataSource.data' (click)='selectGateway(gateway)'>
      <div class='card-header'>
        <div class='card-title-label'>
          <span>
            {{gateway.uuid}}
          </span>
          <span class='card-title-details'>
            {{gateway.createdts | date: 'dd MMM yyyy'}}
          </span>
        </div>
      </div>
      <div class='card-body'>
        <div class='card-body-summary'>
          Gateway summary
          <div class='card-body-summary-text'>
            Summary Text
          </div>
        </div>
        <div class='card-body-highlights'>
          Device Highlights
          <div class='card-body-hightlights-text'>
            Highlight Text
          </div>
        </div>
        <!--
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Device Group Id</mat-label>
            <input matInput [value]='gateway.uid' placeholder="Enter group's id">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput  [value]='gateway.description' placeholder="Enter group's description"
              style="height: 100px;"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput [value]='gateway.address' placeholder="Enter group's connection IP Address">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput [value]='gateway.latitude' placeholder="Enter device group's latitude">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput [value]='gateway.longitude' placeholder="Enter device group's longitude">
          </mat-form-field>
        -->
        </div>
        <div class='card-footer'>
          <span class='card-footer-details'>
            Last updated {{gateway.updatedts | date: dateFormat}}
          </span>
          <span class='card-footer-details-button'>
            View details
          </span>
        </div>
      </div>
    </div>
  </div>
</div>