.table-container {
    overflow: auto;
    height: 300px;
}
  
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-row.selected {
    background: #dddddd;
}

.mat-header-cell {
    font-size: 18px;
}

.gateway-header-image {
    background-image: url('/assets/icons/gateway.svg');
    background-size: 80%;
    background-repeat: no-repeat;
}




.gateway-location-image {
    background-image: url('/assets/icons/gateway_location.svg');
    background-size: 80%;
    background-repeat: no-repeat;
}

.device-header-image {
    background-image: url('/assets/icons/device.svg');
    background-size: 80%;
    background-repeat: no-repeat;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
}

.card {
    max-width: 404px;
    max-height: 310px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(114,114,114,0.33);
    margin: 28px 24px 24px 0px;
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction:column; 
}

.card-header {
    color: #212121;
    font-size: 18px;
    margin: 24px;
    height: auto;
    line-height: 27px;
    background-color: #7DC95E;
}

.card-title-details {
    font-size: 14px;
    float: right;
}

.card-title-action {
    float: right;
}

.card-body {
    margin: 0px 24px;
    display: inline-block;
}

.card-footer {
    margin: 16px 24px;
    height: 24px;
}

.card-footer-details {
    font-size: 10px;
    line-height: 13px;
}

.card-footer-details-button {
    float: right;
    font-size: 12px;
}