<div class='instrument-read-out'>
    <div class='instrument-table-description'>
        <span>Description</span>
         <b>
            {{ instrument.description }}
         </b>
    </div>
    <div class='instrument-table'>
         <div class='instrument-table-properties'>
             <table>
                 <tr>
                     <td>Value Type</td>
                     <td>{{instrument.properties.value.type}}</td>
                 </tr>
                 <tr>
                    <td>Permission</td>
                    <td>{{instrument.properties.value.readWrite}}<td>
                 </tr>
                 <tr>
                    <td>Min value</td>
                    <td>{{instrument.properties.value.minimum}}<td>
                 </tr>
                 <tr>
                    <td>Max value</td>
                    <td>{{instrument.properties.value.maximum}}<td>
                 </tr>
                 <tr>
                    <td>Default value</td>
                    <td>{{instrument.properties.value.defaultValue}}<td>
                 </tr>
             </table>
         </div>
         <div class='instrument-table-attributes'>
            <table>
                <tr>
                    <td>Unit</td>
                    <td>{{instrument.properties.units.defaultValue}}</td>
                </tr>
                <tr>
                   <td>Interface</td>
                   <td>{{instrument.attributes?.Interface}}<td>
                </tr>
                <tr>
                   <td>Pin Number</td>
                   <td>{{instrument.attributes?.Pin_Num}}<td>
                </tr>
                <tr>
                   <td>Max value</td>
                   <td>{{instrument.properties.value.maximum}}<td>
                </tr>
                <tr>
                   <td>Type</td>
                   <td>{{instrument.attributes?.Type}}<td>
                </tr>
            </table>
         </div>
    </div>
</div>

<div>
    Instrument Reading History
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around center center">
        <form [formGroup]="instrumentForm" class="instrument-form" fxLayout="row wrap" fxLayoutGap="15px">

            <mat-form-field fxFlex="20%" appearance="fill">
                <input matInput [disabled]="queryLastValuesDisabled" [matDatepicker]="pickerStartDate"
                    placeholder="Choose start date" (dateChange)="startDateEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="20%" appearance="fill">
                <input matInput [disabled]="queryLastValuesDisabled" [matDatepicker]="pickerEndDate"
                    placeholder="Choose end date" (dateChange)="endDateEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>

            <div class="query-row">
                <button mat-raised-button [disabled]="queryByDateDisabled" (click)="onQueryByDateClicked()"
                    color="primary">Query By Date</button>
                <button mat-raised-button [disabled]="queryLastValuesDisabled" (click)="onQueryLastValuesClicked()"
                    color="primary">Query Last 300 Values</button>
                <button mat-raised-button [disabled]="queryLastValuesDisabled"
                    [routerLink]="['/starterApp/home/iotanomalydetectiondashboard']" color="primary">Anomaly
                    Analysis</button>
            </div>
        </form>
    </div>
    <canvas baseChart [datasets]="chartDatasets" [options]="chartOptions" [colors]="lineChartColors"
        [legend]="chartLegend" [chartType]="chartType">
    </canvas>
</div>

<div>
    <canvas baseChart [datasets]="chartStreamingDatasets" [options]="chartStreamingOptions" [colors]="lineChartColors"
        [legend]="chartStreamingLegend" [chartType]="chartType">
    </canvas>
</div>