<div id="filtering-details">

    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">

        <div fxLayout="row" wrap fxFlex="100%" fxFlexOffset="20px" fxLayoutGap="15px">

            <form [formGroup]="filteringForm">

                <div [formGroup]="filteringForm">
                    <div formArrayName="deviceNames">

                      <div *ngFor="let item of deviceSelectedArray.controls; let i = index">
                        <mat-checkbox [disabled]="true" [checked]="item.value">
                            {{devices[i].name}}
                        </mat-checkbox>
                    </div>
                      
                    </div>
                  </div>

            </form>

        </div>
    </div>

</div>