<div class='instrument-read-out'>
    <div class='instrument-table-description'>
      <span>Description</span>
      <b>
        {{ instrument.description }}
      </b>
    </div>
    <div class='instrument-table'>
      <div class='instrument-table-properties'>
        <table>
          <tr>
            <td>Value Type</td>
            <td>{{instrument.properties.value.type}}</td>
          </tr>
          <tr>
            <td>Permission</td>
            <td>{{instrument.properties.value.readWrite}}
            <td>
          </tr>
          <tr>
            <td>Min value</td>
            <td>{{instrument.properties.value.minimum}}
            <td>
          </tr>
          <tr>
            <td>Max value</td>
            <td>{{instrument.properties.value.maximum}}
            <td>
          </tr>
          <tr>
            <td>Default value</td>
            <td>{{instrument.properties.value.defaultValue}}
            <td>
          </tr>
        </table>
      </div>
      <div class='instrument-table-attributes'>
        <table>
          <tr>
            <td>Unit</td>
            <td>{{instrument.properties.units.defaultValue}}</td>
          </tr>
          <tr>
            <td>Interface</td>
            <td>{{instrument.attributes?.Interface}}
            <td>
          </tr>
          <tr>
            <td>Pin Number</td>
            <td>{{instrument.attributes?.Pin_Num}}
            <td>
          </tr>
          <tr>
            <td>Max value</td>
            <td>{{instrument.properties.value.maximum}}
            <td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{instrument.attributes?.Type}}
            <td>
          </tr>
        </table>
      </div>
    </div>
  </div>