<div class='card' [ngClass]="{'active' : selected() === 'selected'}">
    <div class='card-header-filler'></div>
    <div class='card-header'>
        <div class='card-header-icon'>
            <div class="control" *ngFor="let control of controls" [rete-control]="control"></div>
        </div>
        <div class='card-header-text'>
            {{node.name}}
        </div>
    </div>
    <div class='card-body'>
        <div class="card-body-input">
            <div *ngFor="let input of inputs">
                <rete-socket rete-socket [io]="input" [socket]="input.socket"></rete-socket>
                <div class="input-title" *ngIf="!input.showControl()">{{input.name}}</div>
                <div class="input-control" *ngIf="input.showControl()" [rete-control]="input.control"></div>
            </div>
        </div>
        <div class='card-body-text' *ngIf='node.data.customdata'>
            <div>
                Protocol: <b>{{$any(node.data.customdata).protocol}}</b>
            </div>
            <div>
                ProtocolID: <b>{{$any(node.data.customdata).protocolId}}</b>
            </div>
            <div>
                topic: <b>{{$any(node.data.customdata).topic }}</b>
            </div>
        </div>
        <div>
            <div class="card-body-output" *ngFor="let output of outputs">
                <div class="output-title">{{output.name}}</div>
                <rete-socket rete-socket [io]="output" [socket]="output.socket"></rete-socket>
            </div>
        </div>
    </div>
</div>