<mat-card fxFlex style="height: 100%;" [formGroup]="ruleForm">

    <mat-card-header>
        <mat-card-title>Rules Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%;">

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Log Level</mat-label>
                    <mat-select formControlName="logLevel">
                        <mat-option *ngFor="let item of logLevels;" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">
                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Rule Name</mat-label>
                    <input matInput [readonly]=false formControlName="name">
                </mat-form-field>
                <mat-form-field fxFlex="1 1 35%" appearance="outline">
                    <mat-label>Rule Description</mat-label>
                    <input matInput [readonly]=false formControlName="description">
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">
                <mat-tab-group style="width: 100%">
                    <mat-tab label="Conditions">

                        <div fxLayout="row" style="width: 100%;padding-top: 10px" fxLayoutGap="15px">
                            <mat-form-field fxFlex="1 1 35%" appearance="outline">
                                <mat-label>Select a Device</mat-label>
                                <!-- <mat-select (selectionChange)="onConditionDeviceSelected($event)"
                                    formControlName="condDevice"> -->
                                <mat-select formControlName="condDevice">
                                    <mat-option *ngFor="let item of devices; let i = index" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 35%" appearance="outline">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="condResource">
                                    <mat-option *ngFor="let item of conditionResources" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-checkbox fxFlex="1 1 25%" formControlName="condCompareNewMetricToValue"> New Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareNewMetricToValueOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="condCompareNewMetricValue">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-checkbox fxFlex="1 1 25%" formControlName="condCompareNewMetricToLastMetric">New Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareNewMetricToLastMetricOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label class="mat-label">Last Value</mat-label>
                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-checkbox fxFlex="1 1 25%" formControlName="condCompareLastMetricToValue"> Last Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareLastMetricToValueOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="condCompareLastMetricValue">
                            </mat-form-field>
                        </div>

                    </mat-tab>
                    <mat-tab label="Actions">

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-checkbox fxFlex="1 1 25%" formControlName="actionSendNotification">Send Notification
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Notification Text</mat-label>
                                <input matInput [readonly]=false formControlName="actionNotification">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-checkbox fxFlex="1 1 25%" formControlName="actionSendCommand">Send Command
                            </mat-checkbox>
                        </div>

                        <div fxLayout="row" style="width: 100%;" fxLayoutGap="15px">

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Select a Device</mat-label>
                                <!-- <mat-select (selectionChange)="onActionDeviceSelected($event)"
                                    formControlName="actionDevice"> -->
                                <mat-select formControlName="actionDevice">
                                    <mat-option *ngFor="let item of devices; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="actionResource">
                                    <mat-option *ngFor="let item of actionResources; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 25%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="actionValue">
                            </mat-form-field>
                        </div>

                    </mat-tab>

                </mat-tab-group>

            </div>















        </div>

    </mat-card-content>
</mat-card>