<mat-card fxFlex style="height: 100%;">

    <mat-card-header>
        <mat-card-title>Streaming Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%;">

            <mat-form-field fxFlex="1 1 15%" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-form-field fxFlex="1 1 15%" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>


        </div>

    </mat-card-content>
</mat-card>