<mat-card fxFlex style="height: 100%;" [formGroup]="streamingForm">

    <mat-card-header>
        <mat-card-title>Streaming Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%;">

            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                <mat-label>Select a Device</mat-label>
                <mat-select 
                    formControlName="deviceName">
                    <mat-option *ngFor="let item of devices; let i = index"
                        [value]="item.name">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                <mat-label>Select an Instrument</mat-label>
                <mat-select formControlName="instrumentName">
                    <mat-option *ngFor="let item of instruments"
                        [value]="item.name">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                <mat-label>Select Function</mat-label>
                <mat-select formControlName="function">
                    <mat-option *ngFor="let item of functions" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                <mat-label>Select Window Type</mat-label>
                <mat-select formControlName="windowType">
                    <mat-option *ngFor="let item of windowTypes" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                <mat-label>Window Size</mat-label>
                <input matInput [readonly]=false formControlName="windowSize">
            </mat-form-field>
                        
        </div>

    </mat-card-content>
</mat-card>