<div class="simulation">
    <img src="/assets/img/simulation.png">
    <button mat-icon-button class="openBasket" color="accent" matTooltip="Click to open basket"
        (click)="openBasketEvent()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="scan" color="accent" matTooltip="Click to scan item" (click)="scanEvent()">
        <mat-icon>check_box_outline_blank</mat-icon>
    </button>
    <button mat-icon-button class="camera" color="accent" matTooltip="Click to activate camera" (click)="cameraEvent()">
        <mat-icon>linked_camera</mat-icon>
    </button>
    <button mat-icon-button class="scale" color="accent" matTooltip="Click to weight item" (click)="scaleEvent()">
        <mat-icon>point_of_sale</mat-icon>
    </button>
    <mat-form-field class="scaleWeight" appearance="outline">
        <mat-label>Weight</mat-label>
        <input matInput  [(ngModel)]="itemWeight">
        <span matSuffix>lbs</span>
    </mat-form-field>
    <button mat-icon-button class="closeBasket" color="accent" matTooltip="Click to close basket"
        (click)="closeBasketEvent()">
        <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button class="payment" color="accent" matTooltip="Click to submit payment"
        (click)="paymentEvent()">
        <mat-icon>payment</mat-icon>
    </button>
    <div class="scan-window" *ngIf="showScanImage">
        <img src='/assets/img/simulator/{{scannedItem}}.jpg'>
    </div>
    <div class="camera-window" *ngIf="showCameraImage">
        <img src='/assets/img/simulator/{{cameraItem}}.jpg'>
    </div>
</div>


<div class="selection-window" *ngIf="showScanSelector">
    <div>
        <h3>Select Item to scan</h3>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Item to scan</mat-label>
            <mat-select [(ngModel)]="scannedItem" name="item">
                <mat-option *ngFor="let item of productList" [value]="item.Barcode">
                    {{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button (click)="scanCanceled()">Cancel</button>
    <button (click)="scanSelected()">Scan Item</button>
</div>

<div class="selection-window" *ngIf="showScaleSelector">
    <div>
        <h3>Select Item to weight</h3>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>To place in scale</mat-label>
            <mat-select [(ngModel)]="itemWeight" name="item">
                <mat-option *ngFor="let item of productList" [value]="item.Weight">
                    {{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button (click)="scaleCanceled()">Cancel</button>
    <button (click)="scaleSelected()">Weight Item</button>
</div>
<!-- 
<div class="selection-window" *ngIf="showScaleOld">
    <div>
        <h3>Enter weight for item on scale</h3>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Weight</mat-label>
            <input matInput type="number" [(ngModel)]="itemWeight">
            <span matSuffix>lbs</span>
        </mat-form-field>
    </div>
    <button (click)="scaleCanceled()">Cancel</button>
    <button (click)="scaleSelected()">Scale</button>
</div> -->

<div class="selection-window" *ngIf="showCameraSelector">
    <div>
        <h3>Select Camera snapshot</h3>
    </div>
    <div>

        <mat-form-field>
            <mat-label>Take Snapshot</mat-label>
            <mat-select [(ngModel)]="cameraItem" name="item">

                <mat-option *ngFor="let item of productList" [value]="item.Barcode">
                    <img src='/assets/img/simulator/{{item.Barcode}}.jpg'> {{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


    </div>
    <button (click)="cameraCanceled()">Cancel</button>
    <button (click)="cameraSelected()">Snapshot</button>
</div>