<div class='status-bar'>
    <div class='status-bar-color'></div>
    <div class='status-bar-details'>
        <span>
            <b>State</b>: Active
        </span>
        <span>
            <b>Last Refresh</b>: 23 Feb 2021 at 3:40 PST
        </span>
        <span>
            <b>Connection Status</b>: It's fine.
        </span>
    </div>
</div>

<div class='details-body'>
    <div class='cards'>
        <div class='card-actions'>
            <span class='device'>
                <b>Devices</b> +
            </span>
            <span class='filter-search'>
                <mat-icon>filter_alt</mat-icon>
                <mat-icon>search</mat-icon>
            </span>
        </div>
        <div class='card-list'>
            <div class='card'>
                <div class='card-header'>
                    <div class='card-header-icon'>
                        <mat-icon>search</mat-icon>
                    </div>
                    <div class='card-header-text'>
                        Title
                    </div>
                </div>
                <div class='card-body'>
                    <div class='card-body-text'>
                        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                    </div>
                    <div class='card-body-load'>
                        <span>99%</span>
                        <div class='card-body-percentage'>
                            percentage bar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='card-details'>
        device table
    </div>
</div>