<div class="tcs-home-content">

    <div class="pipeline-header">
        <div class="pipeline-header-text">
        </div>
        <div class="pipeline-header-buttons">
            <button mat-raised-button [disabled]="!pipelineSelected" (click)="newPipeline()" color="primary">New
                Pipeline</button>
            <button mat-raised-button (click)="savePipelineToGraph()" color="primary">Save Pipeline</button>
            <button mat-raised-button [disabled]="!pipelineSelected" (click)="clearPipeline()" color="primary">Clear
                Pipeline</button>
            <button mat-raised-button [disabled]="!pipelineSelected || deployDisabled"
                (click)="deletePipelineFromGraph()" color="primary">Delete Pipeline</button>
            <button mat-raised-button [disabled]="!pipelineSelected" (click)="printPipeline()" color="primary">Print
                Pipeline</button>
            <button mat-raised-button [disabled]="!pipelineSelected || deployDisabled" (click)="deployPipeline()"
                color="primary">Deploy Pipeline</button>
            <button mat-raised-button [disabled]="!pipelineSelected || undeployDisabled" (click)="undeployPipeline()"
                color="primary">Undeploy Pipeline</button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" style="width: 100%; height: 600px;">

        <!-- <app-pipeline-editor [gatewayId]="gatewayId" [gateway]="gateway" [devices]="devices" style="width: 100%; height: 600px;"></app-pipeline-editor> -->


        <div class="wrapper" style="width: 70%; background-color: #F4F4F4;">
            <div #nodeEditor class="node-editor"></div>
        </div>

        <!-- Configuration Panel Components -->
        <app-pipeline-config *ngIf="pipelineConfig" [pipelineForm]="pipelineForm" fxFlex style="height: 600px;">
        </app-pipeline-config>

        <app-pipeline-data-source *ngIf="dataSourceConfig" [dataSourceForm]="protocolForm" fxFlex
            style="height: 600px;"></app-pipeline-data-source>

        <app-pipeline-filtering *ngIf="filteringConfig" #filterComponent [devices]="devices" [filters]="filters" fxFlex
            style="height: 600px;"></app-pipeline-filtering>

        <app-pipeline-inferencing *ngIf="inferencingConfig" #inferenceComponent [devices]="devices" [models]="models"
            [modelForm]="modelForm" [filters]="filters" fxFlex style="height: 600px;"></app-pipeline-inferencing>

        <app-pipeline-data-store *ngIf="dataStoreConfig" [dataStoreForm]="dataStoreForm" fxFlex style="height: 600px;">
        </app-pipeline-data-store>

        <app-pipeline-data-pipe *ngIf="dataPipeConfig" [dataPipeForm]="protocolForm" fxFlex style="height: 600px;">
        </app-pipeline-data-pipe>

        <app-pipeline-streaming *ngIf="streamingConfig" [streamingForm]="streamingForm" [devices]="devices" fxFlex
            style="height: 600px;">
        </app-pipeline-streaming>

        <app-pipeline-rules *ngIf="rulesConfig" [ruleForm]="ruleForm" [devices]="devices" fxFlex style="height: 600px;">
        </app-pipeline-rules>

        <app-pipeline-flogo-flow *ngIf="flogoFlowConfig" [flogoFlowForm]="flogoFlowForm" fxFlex style="height: 600px;">
        </app-pipeline-flogo-flow>

    </div>

    <div>
        <div class="table-container">
            <table mat-table [dataSource]="pipelinesDataSource" matSort>
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let pipeline"> {{pipeline.uid}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let pipeline"> {{pipeline.name}} </td>
                </ng-container>

                <!-- PipelineType Column -->
                <ng-container matColumnDef="pipelineType">
                    <th mat-header-cell *matHeaderCellDef> Pipeline Type </th>
                    <td mat-cell *matCellDef="let pipeline"> {{pipeline.pipelineType}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let pipeline"> {{pipeline.status}} </td>
                </ng-container>

                <!-- Created -->
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                    <td mat-cell *matCellDef="let pipeline"> {{pipeline.created | date: dateFormat}}
                    </td>
                </ng-container>

                <!-- Updated -->
                <ng-container matColumnDef="modified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                    <td mat-cell *matCellDef="let pipeline">
                        {{pipeline.modified | date: dateFormat}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="pipelineDisplayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: pipelineDisplayedColumns;" (click)="onPipelineClicked(row)"
                    [ngClass]="{'selected': pipelineSelection.isSelected(row) }">
                </tr>
            </table>
        </div>
    </div>

</div>