<app-iot-gateway-descriptions [device]="device" [instrument]="instrument"></app-iot-gateway-descriptions>
<div class='table-container'>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortStart="desc" matSortDirection="desc">

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> created </th>
            <td mat-cell *matCellDef="let element"> {{element.created | date: dateFormat}} </td>
        </ng-container>
    
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>